header {
    background: #75145d; /* لون داكن */
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 1.8rem;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}


/* 2. الأزرار (Buttons) */
.btn {
    display: inline-block;
    background: #993d7d; /* لون بنفسجي جذاب */
    color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
/*كل اعلاه بس الشريط*/



footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 0.9rem;
}